@charset "utf-8";
@import url('./font/font.css');

@font-face {
  font-family:'SBAggroB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroM';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/SANDBOX/SBAggroM.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SBAggroL';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/SANDBOX/SBAggroL.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


/* 초기화 */
html {overflow-y:scroll; font-size: 62.5%; scroll-behavior: smooth; word-break: keep-all;}
body {margin:0;padding:0;font-size:0.75em;font-family:'Pretendard', 'SBAggroB','Malgun Gothic', dotum, sans-serif;background:#fff}
html, body {
    -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
    -ms-text-size-adjust : none;  /* IE */
    -moz-text-size-adjust : none;  /* 파이어폭스 */
    -o-text-size-adjust : none;  /* 오페라 구버전 */
}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Pretendard', 'SBAggroB','Malgun Gothic', dotum, sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input, button {margin:0;padding:0;font-family:'Pretendard', 'SBAggroB','Malgun Gothic', dotum, sans-serif;;font-size:1em}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}

textarea, select {font-family:'Pretendard', 'SBAggroB','Malgun Gothic', dotum, sans-serif;;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break: keep-all;}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

img { display:inline-block; border:none; vertical-align:baseline; max-width:100%;}

input[type=text],input[type=password], textarea {
  -webkit-transition:all 0.30s ease-in-out;
  -moz-transition:all 0.30s ease-in-out;
  -ms-transition:all 0.30s ease-in-out;
  -o-transition:all 0.30s ease-in-out;
}

legend, caption {
  display: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #191919 !important;
}


*::-webkit-scrollbar{width: 4px;height: 4px;}
*::-webkit-scrollbar-thumb{background-color:#FF7A00;border-radius:0;transition:all 0.5s;}
*::-webkit-scrollbar-track{background-color: #2B2E34; border-radius:0;}



@media ( max-width: 1280px ) {
	html {font-size:60%;}
}

@media (max-width:500px) {
	html {font-size:53%;}
}